@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.appWrapper {
  background-color: $darkBlue;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 8.5% 91.5%;
  overflow-x: hidden;
}
